.valid {
    color: green;
}

.valid:before{
    position: relative;
    left: -15px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before{
    position: relative;
    left: -15px;
    content: "X";
}

#requirements{
    display: none;

}